############################
# NAMESPACE file for sapa  #
############################

useDynLib(sapa, R_sapa_dpss)

###
# Imports
###
import(ifultools)
import(splus2R)

importFrom("graphics", "lines", "par")
importFrom("methods", "is")
importFrom("stats", "deltat")

###
# S3 Generics
###

###
# R/sysdata.rda Data
##

###
# S3 Functions
###

export(ACVS)
export(SDF)
export(taper)

###
# Exported S3 Methods
###

S3method(as.matrix, SDF)
S3method(as.matrix, taper)
S3method(plot, SDF)
S3method(plot, taper)
S3method(print, SDF)
S3method(print, taper)
