################################
# NAMESPACE file for ifultools #
################################

useDynLib(ifultools)

###
# IMPORTS
###

import(splus2R, MASS)
importFrom("graphics", "abline", "axis", "frame", "matlines", "par",
            "strheight", "strwidth", "text", "title")
importFrom("methods", "as", "is")
importFrom("stats", "approx", "lm", "supsmu", "time", "var")
importFrom("utils", "packageVersion")

###
# S3 Generics
###

###
# R/sysdata.rda Data
##

###
# S3 Functions
###

export(ACVStoPACS)
export(aggregateData)
export(autoKey)
export(autoText)
export(checkRange)
export(checkScalarType)
export(checkVectorType)
export(decibel)
export(em)
export(gridOverlay)
export(ilogb)
export(isVectorAtomic)
export(itCall)
export(linearFit)
export(linearSegmentation)
export(logScale)
export(mergeList)
export(mutilsDistanceMetric)
export(mutilsFilterType)
export(mutilsFilterTypeContinuous)
export(mutilsSDF)
export(mutilsTransformPeakType)
export(mutilsTransformType)
export(mutilsWSShrinkageFunction)
export(mutilsWSThresholdFunction)
export(nextDyadic)
export(ordinal)
export(prettyPrintList)
export(properCase)
export(rotateVector)
export(scaleData)
export(scaleZoom)
export(solveODE)
export(sparsestQuadrant)
export(splitplot)
export(stackPlot)
export(stringSize)
export(variance)

###
# Exported S3 Methods
###

